/*
 * Copyright (C) 2013 Pengutronix <kernel@pengutronix.de>
 *
 * This file describes the Link4/AT1006 baseboard
 */

/dts-v1/;

#include "arkona-at1008.dtsi"

/ {
	model = "Arkona Technologies GmbH Link4";
	compatible = "arkona,link4", "fsl,imx6q";
};

&usbh1 {
	phy_type = "utmi";
	dr_mode = "host";
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	hog {
		pinctrl_hog: microwire {
			fsl,pins = <
				/* microwire pins to the clock generators */
				MX6QDL_PAD_NANDF_CLE__GPIO6_IO07 0x00000070 /* CLK1 */
				MX6QDL_PAD_SD4_CLK__GPIO7_IO10 0x00000070 /* CLK2 */
				MX6QDL_PAD_SD3_DAT4__GPIO7_IO01 0x00000070 /* LE1 */
				MX6QDL_PAD_SD3_DAT5__GPIO7_IO00 0x00000070 /* LE2 */
				MX6QDL_PAD_SD3_DAT6__GPIO6_IO18 0x00010040 /* FTEST1 */
				MX6QDL_PAD_SD3_DAT7__GPIO6_IO17 0x00010040 /* FTEST2 */
				MX6QDL_PAD_SD2_CMD__GPIO1_IO11 0x00000070 /* DATA */
			>;
		};
	};
};
